body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #171425;
}

:root {
  font-size: 16px;
}

.mainbox {
  .shade1 {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 469px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-21.64deg);
  }

  .shade2 {
    position: absolute;
    top: 12%;
    left: 42%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 279.4px;
    height: 458.38px;
    background: #6734aa;
    filter: blur(100px);
    transform: rotate(30deg);
  }

  .shade3 {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 377.83px;
    height: 900.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-184deg);
  }

  .contactshadow3 {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 468.83px;
    height: 656.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-90deg);
  }
}



.educatorshadow {
  .shadoweco {
    position: absolute;
    top: 20%;
    left: auto;
    right: 39%;
    z-index: -1;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    background: #512887;
    filter: blur(60px);
  }


  &::after {
    content: "";
    position: absolute;
    top: 55%;
    right: auto;
    left: 28px;
    width: 141.73px;
    height: 1.14px;
    background-image: linear-gradient(270deg,
        #ffffff -0.64%,
        rgba(255, 255, 255, 0) -0.63%,
        #ffffff 47.61%,
        rgba(255, 255, 255, 0) 99.16%);

    z-index: 1;

    @media (max-width: 1139px) {
      height: 0px;
    }
  }
}

.promoterbox {
  .shadoweco {
    position: absolute;
    top: 20%;
    left: auto;
    right: 39%;

    z-index: -1;
    border-radius: 1000px;

    width: 150px;
    height: 150px;

    background: #512887;
    filter: blur(60px);
  }


  &::after {
    content: "";
    position: absolute;
    top: 59%;
    right: auto;
    left: 28px;
    width: 141.73px;
    height: 1.14px;
    background-image: linear-gradient(270deg,
        #ffffff -0.64%,
        rgba(255, 255, 255, 0) -0.63%,
        #ffffff 47.61%,
        rgba(255, 255, 255, 0) 99.16%);

    z-index: 1;

    @media (max-width: 1139px) {
      height: 0px;
    }
  }
}

.Learnerbox {
  .shadowlearn {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    background: linear-gradient(180deg,
        rgba(156, 22, 46, 0.8) 0%,
        rgba(81, 40, 135, 0.8) 100%);
    filter: blur(60px);
  }



  &::after {
    content: "";
    position: absolute;
    top: 55%;
    right: auto;
    left: 28px;
    width: 141.73px;
    height: 1.14px;
    background-image: linear-gradient(270deg,
        #ffffff -0.64%,
        rgba(255, 255, 255, 0) -0.63%,
        #ffffff 47.61%,
        rgba(255, 255, 255, 0) 99.16%);

    z-index: 1;

    @media (max-width: 1139px) {
      height: 0px;
    }
  }
}

.Creatorbox {
  .shadowlearn {
    position: absolute;
    top: 20%;
    left: 50%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    width: 150px;
    height: 150px;
    background: linear-gradient(180deg,
        rgba(156, 22, 46, 0.8) 0%,
        rgba(81, 40, 135, 0.8) 100%);
    filter: blur(60px);
  }

 

  &::after {
    content: "";
    position: absolute;
    top: 54%;
    right: auto;
    left: 28px;
    width: 141.73px;
    height: 1.14px;
    background-image: linear-gradient(270deg,
        #ffffff -0.64%,
        rgba(255, 255, 255, 0) -0.63%,
        #ffffff 47.61%,
        rgba(255, 255, 255, 0) 99.16%);

    z-index: 1;

    @media (max-width: 1139px) {
      height: 0px;
    }
  }
}

.numberall {
  .number1 {
    background: #F15644;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number2 {
    background: #43D4DB;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number3 {
    background: #FC6B0E;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number4 {
    background: #C459FF;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number5 {
    background:
      #30C42E;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number6 {
    background: #B01A09;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number7 {
    background: #D4AA1A;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }

  .number8 {
    background: #1549FF;
    border-radius: 6px;
    width: 27px;
    height: 27px;
  }
}



.slickbottomslider {
  .slick-initialized .slick-slide.slick-current {
    .active {
      transform: scale(1.15);
      transition: all 0.4s ease-in;
    }
  }

  .slick-track {
    padding: 40px 0;
  }

  .slick-prev {
    left: 45%;
    bottom: -37px;
    top: auto;
    right: 59px;
    color: #0076FF;
    margin-top: -17px;
    z-index: 999;

    &:hover {
      background: linear-gradient(260.62deg, #7C162E -41.31%, #9C162E 107.21%);
      // border: 2px solid rgba(0, 251, 251, 0.2);
      color: #ffffff;
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  .slick-next {
    left: 50%;
    top: auto;
    bottom: -36px;
    right: 5px;
    color: #0076FF;
    margin-top: -17px;

    &:hover {
      background: linear-gradient(260.62deg, #7C162E -41.31%, #9C162E 107.21%);
      // border: 2px solid rgba(0, 251, 251, 0.2);
      color: #ffffff;
    }

    &.slick-disabled {
      opacity: 0.5;
    }
  }

  .slick-next:before,
  .slick-prev:before {
    font-size: 40px;
    line-height: 1;
    opacity: 0.75;
    color: #fff;
    margin-top: -17px;
  }
}

.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  // background: 0 0;
  // background: #2e2f2f;
  display: flex;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 50%;
}

.slick-prev:before {
  content: "-" !important;
}

.slick-next:before {
  content: "-" !important;
}

.blogborder {
  &::after {
    content: "";
    position: absolute;
    top: 64%;
    right: 0%;
    left: 0%;
    width: 141.73px;
    height: 1.14px;
    background-image: linear-gradient(270deg,
        #ffffff -0.64%,
        rgba(255, 255, 255, 0) -0.63%,
        #ffffff 47.61%,
        rgba(255, 255, 255, 0) 99.16%);

    z-index: 1;

    @media (max-width: 1139px) {
      height: 0px;
    }
  }
}

.tokenlogo {
  position: absolute;
  top: 30%;
  left: 39%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 1.55;
  width: 361px;
  height: 361px;
  background: #6734aa;
  filter: blur(75px);

}


.teamleftbox {
  position: absolute;
  top: 20%;
  left: 0%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 200px;
  height: 600px;
  background: #6734aa;
  filter: blur(85px);
  transform: rotate(30deg);
}



.teamrightbox {
  position: absolute;
  top: 20%;

  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 200px;
  height: 600px;
  background: #6734aa;
  filter: blur(85px);
  transform: rotate(30deg);
}



.faqboxshadowleft {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 300px;
  height: 600px;
  background: rgba(156, 22, 46, 0.5);
  filter: blur(50px);
  transform: matrix(0.51, 0.86, 0.86, -0.51, 0, 0);

}



.faqboxshadowright {
  position: absolute;
  top: 0%;

  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 300px;
  height: 600px;
  background: rgba(156, 22, 46, 0.5);
  filter: blur(50px);
  transform: matrix(0.51, 0.86, 0.86, -0.51, 0, 0);

}


.metaleftshadow {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 316px;
  height: 663px;
  background: rgba(81, 40, 135, 0.6);
  filter: blur(50px);
  transform: matrix(0.51, 0.86, 0.86, -0.51, 0, 0);
}



.metarightshadow {
  position: absolute;
  top: 0%;

  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 240px;
  height: 657px;
  background: #512887;
  filter: blur(100px);
  transform: matrix(0.48, 0.88, 0.88, -0.48, 0, 0);
}



.contactimgshadow {
  position: absolute;

  left: 9%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 1.55;
  width: 469px;
  height: 500px;
  background: rgba(169, 42, 72, 0.5);
  filter: blur(132px);
  transform: rotate(-21.64deg);
}


.contactrightshadow{
  position: absolute;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 1.55;
  width: 100px;
  height: 800px;
  background: rgba(169, 42, 72, 0.5);
  filter: blur(102px);
  transform: rotate(-21.64deg);
}
.profileshade {
  .profileshadow {
    position: absolute;
    top: 15%;
    right: 0%;

    border-radius: 1000px;
    opacity: 0.55;
    width: 468.83px;
    height: 656.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-90deg);
  }
}



.uploadmainbox {
  .shade1 {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 469px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-21.64deg);
  }

  .shade2 {
    position: absolute;
    top: 9%;
    left: 46%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 198.4px;
    height: 458.38px;
    background: #6734aa;
    filter: blur(105px);
    transform: rotate(30deg);
  }

  .shade3 {
    position: absolute;
    top: 3%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 468.83px;
    height: 656.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-90deg);
  }
}



.static {

  .shade1 {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 469px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-21.64deg);
  }

  .shade2 {
    position: absolute;
    top: 2%;
    left: 42%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 198.4px;
    height: 458.38px;
    background: #6734aa;
    filter: blur(101px);
    transform: rotate(30deg);
  }

  .shade3 {
    position: absolute;
    top: 0%;

    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 468.83px;
    height: 656.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(60px);
    transform: rotate(-90deg);
  }

  .shade4 {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 469px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(94px);
    transform: rotate(-21.64deg);
  }

  .shade5 {
    position: absolute;
    top: 30%;

    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 468.83px;
    height: 656.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(94px);
    transform: rotate(-90deg);
  }

  .shade6 {
    position: absolute;
    top: 30%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 469px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(94px);
    transform: rotate(-21.64deg);
  }

  .shade7 {
    position: absolute;
    top: 57%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 290.83px;
    height: 758.82px;
    background: #6734aa;
    filter: blur(125px);
    transform: rotate(-90deg);
  }

  .shade8 {
    position: absolute;
    top: 57%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 290.83px;
    height: 758.82px;
    background: #6734aa;
    filter: blur(125px);
    transform: rotate(-90deg);
  }

  .shade9 {
    position: absolute;
    top: 80%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 469px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(94px);
    transform: rotate(-21.64deg);
  }

  .shade10 {
    position: absolute;
    top: 80%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.55;
    width: 468.83px;
    height: 656.82px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(94px);
    transform: rotate(-90deg);
  }
}


.timelineItems {
  padding-top: 30px;
    width: 100%;
    margin: 0 auto;
    max-width: 349px;
}
.timelineItems1 {
  padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    max-width: 241px;
}
.timelineItems2 {
  padding-top: 76px;
    width: 100%;
    margin: 0 auto;
    max-width: 189px;
}
.timelineItems3 {
  padding-top: 50px;
    width: 100%;
    margin: 0 auto;
    max-width: 238px;
}
.timelineItems4 {
  padding-top: 33px;
    width: 100%;
    margin: 0 auto;
    max-width: 352px;
}
.footer{
  .shade1{
    position: absolute;
    top: 7%;
    left: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 311px;
    height: 500px;
    background: rgba(169, 42, 72, 0.5);
    filter: blur(94px);
    transform: rotate(-21.64deg);
  }
  .shade2{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    border-radius: 1000px;
    opacity: 0.5;
    width: 210.83px;
    height: 758.82px;
    background: #6734aa;
    filter: blur(125px);
    transform: rotate(-90deg);
  }
}

.roadmapcenter {
  position: absolute;
  top: 30%;
  left: 35%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 1.55;
  width: 427px;
  height: 427px;
  background: rgba(169, 42, 72, 0.5);
  filter: blur(94px);
  transform: rotate(-90deg);
}
.roadmapcenter1 {
  position: absolute;
  top: 30%;
  left: 35%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 1.55;
  width: 427px;
  height: 427px;
  background: #ffffff;
  filter: blur(75px);

}

.tokennomicsbox {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 172px;
  height: 505px;
  background: rgba(169, 42, 72, 0.6);
  filter: blur(70px);
  transform: matrix(0.51, 0.86, 0.86, -0.51, 0, 0);
}


.tokenrightbox {
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: -1;
  border-radius: 1000px;
  opacity: 0.55;
  width: 240px;
  height: 650px;
  background: rgba(169, 42, 72, 0.6);
  filter: blur(100px);
  transform: rotate(-121.49deg);
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  -webkit-background-clip: text !important;
  


}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  backdrop-filter: blur(4px);
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
}

